@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --color-primary-blue: #2563eb;
  --color-primary-amber: #d97706;
  
  --color-bg-page: #f1f5f9;
  --color-bg-card: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-border-main: #e2e8f0;
}

@layer base {
  body {
    @apply bg-bg-page text-text-main antialiased transition-colors duration-200;
  }
}

.dark {
  --color-bg-page: #0f172a;
  --color-bg-card: #1e293b;
  --color-text-main: #f1f5f9;
  --color-text-muted: #94a3b8;
  --color-border-main: #334155;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
